.uni-rotate90{
    transform: rotate(90deg);
}
.uni-rotate45{
    transform: rotate(90deg);
}
.uni-rotate-minus90{
    transform: rotate(-90deg);
}
.uni-rotate180{
    transform: rotate(180deg);
}
.uni-rotate270{
    transform: rotate(180deg);
}